<div class="container">
    <form [formGroup]="searchForm" class="searchBar" (ngSubmit)="onSearchSubmit()">
        <input type="text" placeholder="Search Items" formControlName="searchValue" class="searchBarInput">
    </form>
</div>
<div class="container">
    <mat-card class="card" *ngFor="let item of filteredItems">
        <mat-card-title class="title">
            {{item.name}}</mat-card-title>
        <img mat-card-image [src]="item.picture">
        <mat-card-content>
            <p>
                Inventory: {{ item.inventory}}
            </p>

            <form [formGroup]="inventoryChange" (ngSubmit)="inventoryChangeSubmit()">
                <input type="number" placeholder="'Change Inventory'" formControlName="inventoryValue">
            </form>

            <mat-card-actions>
                <button mat-button>Add</button>
                <button mat-button>Remove</button>
            </mat-card-actions>
        </mat-card-content>

    </mat-card>
</div>


<div class="container">   
    <button mat-raised-button id="button" class="custom-button"  > Add Item</button>
</div>

